doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Text
            | dsfsdf
            | sdfsdf 
            | dsfsdf 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            | Nihil perspiciatis nulla, rerum numquam autem obcaecati
            | nisi officia consequatur odit dolor ipsam iure qui deleniti
            | delectus itaque odio facilis temporibus consectetur?